{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>comfy house</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="nav-center">
            <span class="bar-icon">
                <!-- <ul class="acc-btns">
                    <li class="acc-lis"><a href="#" class="signup-btn">Sign in</a>
                    </li>
                    <li class="acc-lis">
                        <a href="#" class="signup-btn">Login</a>
                    </li>
                </ul> -->
            </span>
            <img src="/static/images/logo.svg" alt="comfy house logo" class="logo">
            <div class="cart-icon">
                <i class="fa fa-cart-plus"></i>

                <div class="num">0</div>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <!--backgrnd header-->
    <header class="head">
        <div class="banner">
            <h1 class="heading">furniture collection</h1>
            <button onclick="scrolldown()" class="shop-btn">shop now</button>
        </div>
    </header>
    <!--backgrnd header end-->
    <section class="main-products">
        <div class="pdt">
            <h3>our products</h3>
        </div>
        <div class="product-center">

            <!-- <div class="product-detail">
                <img src="/static/images/product-1.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                    </button>
                <h4 class="detail-1">queen pannel bed</h4>
                <h5 class="price">$16.55</h5>
            </div>
            <div class="product-detail">
                <img src="/static/images/product-2.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                        </button>
                <h4 class="detail-1">king pannel bed</h4>
                <h5 class="price">$18.05</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-3.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                            </button>
                <h4 class="detail-1">twin pannel bed</h4>
                <h5 class="price">$260.55</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-4.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i> add to bag
                                </button>
                <h4 class="detail-1">single pannel bed</h4>
                <h5 class="price">$160.55</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-5.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                                    </button>
                <h4 class="detail-1">fridge</h4>
                <h5 class="price">$60</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-6.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                                        </button>
                <h4 class="detail-1">dresser</h4>
                <h5 class="price">$160.55</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-7.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                                            </button>
                <h4 class="detail-1">couch</h4>
                <h5 class="price">$16.55</h5>
            </div>
            <div class="product-detail">
                <img src="./images/product-8.jpeg" alt="furniture" class="image1">
                <button class="addbtn"><i class="fa fa-shopping-cart"></i>add to bag
                                                </button>
                <h4 class="detail-1">table</h4>
                <h5 class="price">$16.55</h5>
            </div>-->
        </div>
    </section>
    <!--products -->
    <!--cart-->
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-btn">
            <i class="fa fa-window-close"></i>
          </span>
            <h2>your cart</h2>
            <!--cart content-->
            <div class="cart-content"></div>
            <!--end of cart content-->
            <h3 class="item-total">your total is : $<span class="total">32</span></h3>
            <button class="clear-btn">clear cart</button>
        </div>
    </div>
    <!--end of cart-->
    <script src="{% static 'script.js' %}"></script>
</body>

</html>