{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>comfy house</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="nav-center">
            <div class="acc-btns">
                {% block userfac %} {% endblock %}
            </div>
            <img src="/static/images/logo.svg" alt="comfy house logo" class="logo">
            <div class="cart-icon">
                <i class="fa fa-cart-plus"></i>

                <div class="num">0</div>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <!--backgrnd header-->
    <header class="head">
        <div class="banner">
            {% block content %} {% endblock %}
        </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'script.js' %}">
    </script>
</body>

</html>